<div class = "heading">
  <h1>Sign into Skil.ai</h1>
</div>
  <div class = "forCenter">
<button class = "single" (click)="socialSignIn('google')" ><img src="https://pbs.twimg.com/profile_images/1057899591708753921/PSpUS-Hp_400x400.jpg" width="32" height="27">Sign in with Google</button><br/><br/>
<button class = "single" ><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQC8i4peuzxW8vJnrobUeDzRh74jsnokgucKZ_tPFnlPobVoa9g" width="32" height="28">Sign in with Facebook</button><br/><br/>
<button class = "single" ><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdsCMcXhZpvgvReDG8RMMEi32EB_X87Lg7E7AtdTFOPAz2g4pn" width="32" height="28">Sign in with LinkedIn</button>
</div>


