<!--The content below is only a placeholder and can be replaced.-->

<div class = "first">
  <h5>
    <button >About</button>&nbsp;
    <button  [routerLink]="['/signin']">SignIn</button>&nbsp;
  <button >SignUp</button>
</h5>
</div>

<div class = "second">
  <h1>Scheduling Meetings</h1>
  <h6> our rediculously efficient AI software solves the hassle of meeting scheduling</h6>
</div>







<!-- <div> Months :
  <select>
     <option *ngFor="let i of months">{{i}}</option>
  </select>
</div>

<br/>

<div>
   <span *ngIf = "isavailable; then condition1 else condition2"></span> 
   <ng-template #condition1>Condition1 is valid </ng-template>
   <ng-template #condition2>Condition2 is valid </ng-template>
  
</div> -->

<!-- <app-log-in></app-log-in> -->
